*:focus,
.button:active,
.button:focus,
.file-cta:active,
.file-cta:focus,
.file-name:active,
.file-name:focus,
.input:active,
.input:focus,
.is-active.button,
.is-active.file-cta,
.is-active.file-name,
.is-active.input,
.is-active.pagination-ellipsis,
.is-active.pagination-link,
.is-active.pagination-next,
.is-active.pagination-previous,
.is-active.textarea,
.is-focused.button,
.is-focused.file-cta,
.is-focused.file-name,
.is-focused.input,
.is-focused.pagination-ellipsis,
.is-focused.pagination-link,
.is-focused.pagination-next,
.is-focused.pagination-previous,
.is-focused.textarea,
.pagination-ellipsis:active,
.pagination-ellipsis:focus,
.pagination-link:active,
.pagination-link:focus,
.pagination-next:active,
.pagination-next:focus,
.pagination-previous:active,
.pagination-previous:focus,
.select select.is-active,
.select select.is-focused,
.select select:active,
.select select:focus,
.textarea:active,
.textarea:focus,
.button.is-link.is-focused, .button.is-link:focus,
.button.is-focused:not(:active), .button:focus:not(:active),
.button.is-link.is-focused:not(:active), .button.is-link:focus:not(:active) {
    outline: 0;
    border-color: #209cee;
    box-shadow: 0px 0px 2px 2px rgba(32, 156, 238, 1),
    0px 0px 3px 2px rgba(32, 156, 238, 0.2)
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/* skip link */
.a11y-skipLink {
    position: absolute;
    top: 7.3rem;
    left: -999rem;
    opacity: 0;
    padding: .7rem 1.2rem;
    background: #76cdd8;
    color: #fff;
    outline-offset: -2px;
}

/* Contrast colors */
.navbar {
    background: #49494b;
}

.button.is-info,
.tag:not(body).is-primary, .hero.is-info {
    background-color: #112548;
}

.button.is-info:hover {
    background-color: #1457ed;
}

.tag:not(body).is-danger {
    background-color: #bb0328;
}

.button.is-white.is-outlined {
    color: #ffffff;
}

.navbar-burger {
    color: #ecdbdb;
}

.title, .card, .box, .card-header-title {
    color: #decece;
}

.card, .box {
    background-color: #49494b;
}

body, .subtitle {
    color: #fbefef;
}

a {
    color: #f7afaf;
}

a:hover {
    color: #d0caca;
    text-decoration: underline;
}

.has-background-grey-light {
    background-color: #666666 !important;
}

.has-background-grey-lighter {
    background-color: #676767 !important;
}

.has-text-grey-light {
    color: #d4c9c9 !important;
}

.hero.is-info .tabs.is-boxed li.is-active a, .hero.is-info .tabs.is-boxed li.is-active a:hover, .hero.is-info .tabs.is-toggle li.is-active a, .hero.is-info .tabs.is-toggle li.is-active a:hover {
    color: #0966a5;
}

.content blockquote {
    color: #963d56;
}

.content table th {
    background-color: #f5f5f5;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    color: #c7c1c1;
}

.tag:not(body).is-success{
    color: #241f63;
}

.label {
    color: #e8e0e0;
}

.help.is-success {
    color: #58d684;
}

.help.is-danger {
    color: #f7b2c0;
}

.input::placeholder, .textarea::placeholder {
    color: #241f63;
}

.checkbox:hover, .radio:hover {
    color: #b0f3ea;
}

.notification .content, .notification .subtitle, .notification .title {
    color: #0966a5;
}

.footer {
    background-color: #363636;
}

/* fix background image to local source*/
.hero-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/900.jpg") no-repeat center center fixed;
    background-size: cover;
}

.tabs {
    margin-bottom: -1px !important;
    position: relative;
}

.tab-content {
    padding: 2rem;
}

/*.tab-pane {*/
    /*display: none;*/
/*}*/

/*.tab-pane.is-active {*/
    /*display: block;*/
    /*position: relative;*/
/*}*/

.is-active {
    display: initial;
}

.cent {
    display: block;
    margin: 10px auto;
    padding: 5px;
    border: 1px solid #ccc;
}

.video {
    display: block;
    margin: 0 auto;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.box.cta {
    border-radius: 0;
    border-left: none;
    border-right: none;
}

.features,
.medias {
    padding: 3rem 0;
}

.features .fa,
.features .fab {
    font-size: 8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #f7afaf;
}

.is-shady {
    animation: flyintoright 0.4s backwards;
    background: #791f32;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
    border-radius: 4px;
    display: inline-block;
    margin: 10px;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.is-shady:hover {
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.13), 0 6px 6px rgba(0, 0, 0, 0.19);
}

.has-same-height .card {
    height: 350px;
    overflow: hidden;
}

.skills-content .media + .media {
    margin-top: .5rem;
}

.skills-content .progress {
    height: 4px !important;
}

.section-heading {
    margin-bottom: 2rem;
}

.info-tiles {
    margin: .75rem auto;
    padding: 0 .75rem;
}

.button.is-primary.is-alt {
    background: linear-gradient(to bottom, #0072ff, #00c6ff);
    font-weight: 700;
    font-size: 14px;
    height: 3rem;
    line-height: 2.8;
    margin-bottom: 1rem;
    color: #241f63;
}

.post {
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #E6EAEE;
}

.post:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.card-header-title {
    justify-content: space-between;
}

.forum-list li {
    margin-bottom: .5rem;
}

@media screen and (max-width: 1087px) {
    .navbar-menu {
        background-color: #49494b;
    }
}

.title.is-3 {
    font-weight: bold;
}

[role="tablist"] {
    margin: 0 0 -0.1em;
    overflow: visible;
}

[role="tab"] {
    position: relative;
    margin: 0;
    padding: 0.3em 0.5em 0.4em;
    border: 1px solid hsl(219, 1%, 72%);
    border-radius: 0.2em 0.2em 0 0;
    box-shadow: 0 0 0.2em hsl(219, 1%, 72%);
    overflow: visible;
    font-family: inherit;
    font-size: inherit;
    background: hsl(220, 20%, 94%);
}

[role="tab"]:hover::before,
[role="tab"]:focus::before,
[role="tab"][aria-selected="true"]::before {
    position: absolute;
    bottom: 100%;
    right: -1px;
    left: -1px;
    border-radius: 0.2em 0.2em 0 0;
    border-top: 3px solid hsl(20, 96%, 48%);
    content: '';
}

[role="tab"][aria-selected="true"] {
    border-radius: 0;
    background: hsl(220, 43%, 99%);
    outline: 0;
}

[role="tab"][aria-selected="true"]:not(:focus):not(:hover)::before {
    border-top: 5px solid hsl(218, 96%, 48%);
}

[role="tab"][aria-selected="true"]::after {
    position: absolute;
    z-index: 3;
    bottom: -1px;
    right: 0;
    left: 0;
    height: 0.3em;
    background: hsl(220, 43%, 99%);
    box-shadow: none;
    content: '';
}

[role="tab"]:hover,
[role="tab"]:focus,
[role="tab"]:active {
    outline: 0;
    border-radius: 0;
}

[role="tab"]:hover::before,
[role="tab"]:focus::before {
    border-color: hsl(20, 96%, 48%);
}

[role="tabpanel"] {
    position: relative;
    z-index: 2;
    padding: 0.5em 0.5em 0.7em;
    border: 1px solid hsl(219, 1%, 72%);
    border-radius: 0 0.2em 0.2em 0.2em;
    box-shadow: 0 0 0.2em hsl(219, 1%, 72%);
}

[role="tabpanel"]:focus {
    border-color: hsl(20, 96%, 48%);
    box-shadow: 0 0 0.2em hsl(20, 96%, 48%);
    outline: 0;
}

[role="tabpanel"]:focus::after {
    position: absolute;
    bottom: 0;
    right: -1px;
    left: -1px;
    border-bottom: 3px solid hsl(20, 96%, 48%);
    border-radius: 0 0 0.2em 0.2em;
    content: '';
}

[role="tabpanel"] p {
    margin: 0;
}

[role="tabpanel"] * + p {
    margin-top: 1em;
}
